:host {
  display: block;
  padding-top: 16px;
  background-color: black;
  height: 100svh;
  text-align: center;
}

.container {
  height: 80%;
  width: 80vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.existing-playlists {
  max-height: 70svh;
  overflow: auto;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.input-button-row {
  padding-bottom: 1rem;
  width: 100%;
}
.message {
  display: block;
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}
