:host {
  height: 650px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 20px;
  box-sizing: border-box;
}

form {
  width: 100%;
}

.add-song-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.add-song-row input {
  width: 80%;
  margin-bottom: 0;
}

img {
  display: block;
  width: 320px;
  border-radius: 4px;
}

.background-input,
.message {
  margin-bottom: 48px;
}

button.submit {
  margin-top: auto;
}

@media screen and (max-width: 900px) {
  :host {
    height: unset;
  }
  .container {
    flex-direction: column;
    gap: 16px;
    height: auto;
    align-items: center;
  }

  .input-section {
    width: 100%;
    box-sizing: border-box;
  }

  .input-section button.submit,
  .input-section app-printer {
    margin-top: 32px;
  }
}
