:host {
  display: block;
  padding-top: 16px;
  background-color: black;
  min-height: 100svh;
  text-align: center;
}

.container {
  height: 80%;
  width: 80vw;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 20px;
  box-sizing: border-box;
}

form {
  width: 100%;
  max-height: 90%;
  display: block;
  overflow-y: scroll;
}

.color-selector-row,
.add-song-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.add-song-row input {
  width: 80%;
  margin-bottom: 0;
}

img {
  display: block;
  width: 320px;
  border-radius: 4px;
}

.song-text-color,
.message {
  margin-bottom: 48px;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-top: 16px;
}

@media screen and (max-width: 900px) {
  :host {
    height: unset;
  }
  .container {
    flex-direction: column;
    gap: 8px;
    height: auto;
    align-items: center;
    width: unset;
  }

  .input-section {
    width: 100%;
    box-sizing: border-box;
  }

  .input-section app-printer {
    margin-top: 5px;
  }

  .add-song-row button {
    width: 200px;
  }

  .buttons {
    flex-wrap: wrap;
  }
}
