::ng-deep .mdc-dialog__container .mat-mdc-dialog-surface {
  resize: both;
  overflow: auto;
  background: #fff;
}

:host {
  display: block;
  height: 100%;
}

.dialog-content {
  height: 100%;
}

app-playlist {
  max-height: 100% !important;
}
