#print-section {
  width: 15.24cm;
  height: 10.16cm;
  background-color: red;
}

@font-face {
  font-family: dkaurevoir;
  src: url(DKAuRevoir.otf);
}

.playlist-content {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.playlist-content .link,
.playlist-content .message {
  color: #d09c66;
  font-family: 'dkaurevoir';
  font-weight: 400;
}

.playlist-content .message {
  display: block;
  font-size: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 16px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 16px;
  box-sizing: border-box;
}

.playlist-content .link {
  text-align: center;
  padding: 4px 16px;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.qr-section {
  margin-top: auto;
  height: 20%;
}

qrcode {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.qrcode {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
}
.qrcode canvas,
.qrcode img {
  width: unset !important;
  height: 100% !important;
  border-radius: 4px;
}

@media print {
  @font-face {
    font-family: dkaurevoir;
    src: url(DKAuRevoir.otf);
  }

  span.message {
    font-family: 'dkaurevoir';
  }
}
